---
import Styles from '../../public/Styles/GlobalCss.css'
import Tailwind from '../../tailwind.config.mjs'
---


<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </head>
    <body class="font-[Raleway] ">
        <header>
            <nav class="flex justify-between items-center w-[92%] mx-auto">
                <div>
                    <img class="w-32 cursor-pointer" src="../../public/Resources/KREA.png">
                </div>
                <div class="nav-links duration-500 md:static absolute bg-[#225b73] md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                    <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                        <li>
                            <a class="hover:text-gray-500" href="#">Home</a> 
                        </li>

                        <li>
                            <a class="hover:text-gray-500" href="#">Nosotros</a> 
                        </li>

                        <li>
                            <a class="hover:text-gray-500" href="#">Servicios</a> 
                        </li>

                        <li>
                            <a class="hover:text-gray-500" href="#">Convocatorias</a> 
                        </li>

                        <li>
                            <a class="hover:text-gray-500" href="#">Blog</a> 
                        </li>

                        <li >
                            <a  class=" font-bold hover:text-gray-500 text-main" href="#">Contacto</a> 
                        </li>
                    </ul>
                </div>
                <div class="flex items-center gap-6 ">
                    <ion-icon onclick="onToggleMenu(this)" name="menu-outline" class=" text-3xl cursor-pointer md:hidden"></ion-icon>
                </div>
            </nav>
        </header>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
              const navLinks = document.querySelector('.nav-links');
              function onToggleMenu(icon) {
                icon.name = icon.name === 'menu-outline' ? 'close-outline' : 'menu-outline';
                navLinks.classList.toggle('top-[9%]');
              }
            });
          </script>

    </body>
</html>