---
let img_path = "../../public/Resources/main-content3.svg"
import 'aos/dist/aos.css'; 
---
<body>
<div class="flex flex-col md:flex-row items-center justify-between p-6 max-w-6xl mx-auto">
  <div class="w-full md:w-3/5 mb-6 md:mb-0">
    <h1 data-aos="fade-in" data-aos-delay="500" class=" md:text-6xl mb-4 custom-title">Entérate de todo lo que Krea está logrando</h1>
    <button data-aos="zoom-in" data-aos-delay="500" class="bg-teal-500 text-white  text-l py-2 px-4 rounded-xl py-3 px-6 hover:bg-teal-600">Conoce más aquí</button>
  </div>
  <div class="w-full md:w-2/5 text-center">
    <img data-aos="fade-in" data-aos-delay="500" src={img_path} alt="Krea Logros" class="max-w-full h-auto">
  </div>
  <script>
    import AOS from 'aos';
    AOS.init();
  </script>
</div>
<script>
  import AOS from 'aos';
  AOS.init();
</script>
</body>

<style>
  .custom-title {
    color: var(--main-color);
    font-weight: 700;
    font-size:2.5em ;
  }
</style>
