---
let img_path = "../../public/Resources/main-content3.svg"
---
<div class="flex flex-col md:flex-row items-center justify-between p-6 max-w-6xl mx-auto">
  <div class="w-full md:w-3/5 mb-6 md:mb-0">
    <h1 class="text-3xl md:text-6xl mb-4 custom-title">Entérate de todo lo que Krea está logrando</h1>
    <button class="bg-teal-500 text-white  text-l py-2 px-4 rounded-xl py-3 px-6 hover:bg-teal-600">Conoce más aquí</button>
  </div>
  <div class="w-full md:w-2/5 text-center">
    <img src={img_path} alt="Krea Logros" class="max-w-full h-auto">
  </div>
</div>

<style>
  .custom-title {
    color: var(--main-color);
    font-weight: 800;
  }
</style>
