---
---
<div class="flex justify-center items-center main-cont">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2">
        <slot />
    </div>
</div>

<style>
    .main-cont {
        margin-top: 0px;
        margin-bottom: 0px;
    }
</style>

