---
import ContentMedia from "./ContentMedia.astro";
let img_path = "../../public/Resources/KREA.png"
---

<ContentMedia imgSrc={img_path}>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo est ut egestas vehicula</p>
  <li>1</li>
  <li>2</li>
  <li>3</li>

  </ContentMedia>

--
