---
import ContentMedia from "./ContentMedia.astro";
let img_path = "../../public/Resources/main-content2.svg"
---
<html>
  <body>
<head>
  <link rel="stylesheet" href="./Styles/GlobalCss.css"> 
</head>
<ContentMedia class="media-c">
    <h2 class="ml-4 custom-font-title" data-aos="fade-in" data-aos-delay="500">Servicios</h2>
  <ul class="text-left pl-32">
    <li data-aos="fade-in" data-aos-delay="500"> - Gestión de proyectos</li>
    <li data-aos="fade-in" data-aos-delay="500"> - Búsqueda de recursos</li>
    <li data-aos="fade-in" data-aos-delay="500"> - Gestión empresarial</li>
    <li data-aos="fade-in" data-aos-delay="500"> - Desarrollo web</li>
    <li data-aos="fade-in" data-aos-delay="500"> - Asesoría legal coorporativa</li>
  </ul>
</ContentMedia>
  <script>
    import AOS from 'aos';
    AOS.init();
  </script>
</body>
  </html>

<style>
  h2 {
    font-size: 2rem; /* text-2xl */
    line-height: 1.25; /* leading-tight */
  }

  @media (min-width: 768px) {
      h2 {
          font-size: 2.25rem; /* text-4xl */
          line-height: 1.5; /* leading-normal */
      }
  }

  @media (min-width: 1024px) {
      h2 {
          font-size: 3.75rem; /* text-6xl */
          line-height: 1.625; /* leading-relaxed */
      }
  }
  @media (max-width: 1280px) {
    ul {
        text-align: center;
        padding-left: 0;
      }
  }
  ul {
    margin: 30px;
  }
  ul li {
    margin: 10px;
  }
  .media-c{
    font-size: 2rem;
    font-weight: 700; 
  }
  .custom-font-title{
        color: var(--second-color);
        font-weight: 700;
    }
</style>
