---
import ContentMedia from "./ContentMedia.astro";
let img_path = "../../public/Resources/main-content2.svg"
---
<html>
  <body>
<head>
  <link rel="stylesheet" href="./Styles/GlobalCss.css"> 
</head>
<ContentMedia class="media-c" imgSrc = {img_path} >
    <h1 class="ml-4 mb-4 text-6xl font-bold  custom-font-title ">Servicios</h1>
  <ul>
  <li> - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
  <li> - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
  <li> - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
</ul>
  </ContentMedia>
  <script>
    import AOS from 'aos';
    AOS.init();
  </script>
</body>
  </html>
--

<style>
  ul {
    margin: 30px;
  }
  ul li {
    margin: 10px;
  }
  .media-c{
    font-size: 45px;
    font-weight: 700; 
  }
  .custom-font-title{
        color: var(--second-color);
        font-weight: 900;
    }
</style>
