---
import DefaultLayout from "../layouts/DefaultLayout.astro"
import AboutUs from "../components/AboutUs.astro"
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krea Proyectos - Nosotros</title>
</head>
<DefaultLayout>
  <AboutUs />
</DefaultLayout>
</html>
