---
import NavBar from "../components/NavBar.astro"
import Hero from "../components/Hero.astro"
import Footer from "../components/Footer.astro"
---



<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    
    <NavBar />
    <slot />
    <Footer />

  </body>
</html>
